// COLORS

$primary: #2F95E4;
$secondary: #3F7992;

//Blue
$lightblue: #41C0FD;
$lightblue2: #5DE6FC;
$lightblue3: #DCFEFF;

//Purple
$purple: #5D0CA6;
$lightpurple: #C986FF;

//Other
$lightgrey: #F9F8F8;
$teal: #248393;


// FONTS
$heading: "BrunoAce", "Times New Roman", Times, serif;
$p: "IBM Plex Sans", Arial, Helvetica, serif;
