// COLORS
$primary: #11A6B6;
$secondary: #004D88;

$radicalred: #FA2662;
$jaffa: #F09443;
$starship: #EDE750;
$magenta: #FF00FF;
$heliotrope: #BB57FE;
$mauve: #E1AAFE;
$pastelgreen: #78DF6C;
$niagara: #0FAA94;
$dodgerblue: #4F4FFE;
$havelockblue: #4985D4;
$viking: #4CC8DD;
$chablis: #FFF8F9;

//Other
$lightgrey: #f9f8f8;
$darkgrey: #313131;

// FONTS
$heading: "BrunoAce", "Times New Roman", Times, serif;
$p: "IBM Plex Sans", Arial, Helvetica, serif;
