// COLORS

$primary: #2f95e4;
$secondary: #3f7992;

//Blue
$lightblue: #41c0fd;
$lightblue2: #5de6fc;
$lightblue3: #dcfeff;

//Purple
$purple: #5d0ca6;
$lightpurple: #c986ff;

//Other
$lightgrey: #f9f8f8;
$darkgrey: #1e292e;
$teal: #248393;

// FONTS
$heading: "BrunoAce", "Times New Roman", Times, serif;
$p: "IBM Plex Sans", Arial, Helvetica, serif;
