.view {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  position: relative;
}

section {
  height: 100vh;

  /* scroll-snap */
  scroll-snap-align: start;
  scroll-snap-stop: normal;
}
