.HeroSection {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.HeroText {
  color: $darkgrey;
  width: 700px;
  padding-left: 100px;
}

.HeroTitle {
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  margin-bottom: 20px;
}

.HeroSubtitle {
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.heroSVG {
  position: absolute;
  // align-self: flex-end;
  bottom: 5%;
  right: 2%;
  width: 850px;
  z-index: 1;
}
